html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  margin:0;
  padding:0;
}
/*
.element {
    padding-bottom: 5rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
  }
*/

/* 
    TEXT ELEMENTS -------------------
  */

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0.25rem;
}

h1 span,
h2 span,
h3 span,
h4 span,
p span {
  color: white;

}

h2 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.25rem;
  font-size: 30px;
}

h2 span {
  font-family: 'Space Mono';
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 0.25rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 0.25rem;
  font-size: 25px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 0.25rem;
  font-size: 20px;
}

p {
  width: 70%;
  margin-top: 10px;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* 
    INTERACTIVE ELEMENTS -------------------
  */

/* Styling for the navigation button ---------------------------*/
.button-nav-magenta {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 20px;

  background: linear-gradient(to left, black 50%, #FE5D9F 50%);
  background-position: right bottom;
  background-size: 220% 120%;
  transition: all .2s ease-in;

}

.button-nav-magenta-border {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: white;
  border: 0.15rem solid white;
  text-decoration: none;
  font-size: 20px;

  background: linear-gradient(to left, rgb(0, 0, 0, 0) 50%, #FE5D9F 50%);
  background-position: right bottom;
  background-size: 220% 120%;
  transition: all .2s ease-in;
}

.button-nav-magenta-border:hover,
.button-nav-magenta-border:focus {
  border: 0.15rem solid white;
  background-position: left bottom;
}

.button-nav-magenta:hover,
.button-nav-magenta:focus {
  background-position: left bottom;
}

.button-nav-turquoise {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 20px;

  background: linear-gradient(to left, black 50%, #6DD3CE 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all .2s ease-in;
}

.button-nav-turquoise:hover,
.button-nav-turquoise:focus {
  background-position: left bottom;
}

.button-nav-style-magenta {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 20px;

  background: linear-gradient(to left, #FE5D9F 50%, #6DD3CE 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all .2s ease-in;
}

.button-nav-style-magenta:hover,
.button-nav-style-magenta:focus {
  background-position: left bottom;
}

.button-nav-style-turquoise {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 20px;

  background: linear-gradient(to left, #6DD3CE 50%, #FE5D9F 40%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all .2s ease-in;
}

.button-nav-style-turquoise:hover,
.button-nav-style-turquoise:focus {
  background-position: left bottom;
}

/*
    inputs ---------------------------
  */

input[type=submit] {
  display: block;
  background-color: #ffffff;
  border-color: #FE5D9F;
  color: #FE5D9F;
  border-width: 3px;
  border-style: solid;
  font-family: 'Space Mono';
  font-size: 20px;
  font-weight: 400;
  padding: 0.5rem;
  transition: all .2s ease-in;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input[type=submit]:hover {
  color: white;
  background-color: #FE5D9F;
}

input[type="text"] {
  padding: 0.5rem;
  margin: 20px 0 20px 0;
  display: block;
  font-family: 'Space Mono';
  outline: none;
  border: 2px solid rgb(179, 179, 179);
  transition: all .1s ease-in;
  width: 90%;
}

input[type="text"]:hover {
  border-color: #000000
}

input[type="text"]:focus {
  border-color: #6DD3CE;
}

input[type='radio']:checked {
  border: 6px solid #FE5D9F;
}

input[type='radio']:checked+label {
  color: #FE5D9F;
}

input[type='radio']:hover+label {
  color: #f7afcd;
}

/*
  button check styling:   
  */
input[type='radio'] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid rgb(146, 146, 146);
  transition: all 0.2s ease-in;
  position: relative;
  top: 3px;
}

input[type='radio']+label {
  transition: all 0.2s ease-in;
}

label {
  font-size: 20px;
}

.link-text {
  text-decoration: none;
  color: #6DD3CE;
  transition-property: color;
  transition-duration: 0.2s;
}

.link-text:hover,
.link-text:focus {
  text-decoration: underline;
  color: #FE5D9F;
}


.link-image {
  transition: all 0.3s ease-out;
}

/*
   box shadow from https://thebrandsmen.com/css-image-hover-effects/
  */
.link-image:hover {
  box-shadow:
    1px 1px #FE5D9F,
    2px 2px #FE5D9F,
    3px 3px #FE5D9F,
    4px 4px #FE5D9F,
    5px 5px #FE5D9F,
    6px 6px #FE5D9F;
  transform: translateX(-3px);
}

/* 
    COMBINED ELEMENTS -------------------
  */
  d*{
    border:1px red solid;
  }

.main-nav{
  z-index: 100;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position:fixed;
  border-bottom: 0.15rem solid rgb(236, 234, 236);
  width:100%;
}
.brand-name{
  font-size: 20pt;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  display:block;
  margin:1rem;
}
.nav-bar-links {
  display: flex;
  column-gap: 2rem;
  list-style: none; 
  padding:0;
  margin-right:1rem;
}

.nav-bar-links a {
  font-size: 18px;
  transition-property: color;
  transition-duration: 0.2s;
  text-decoration: none;
  color: #6DD3CE;
}

.nav-bar-links a:hover {
  color: #FE5D9F;
}

#icon{
  cursor: pointer;
  
}
#icon svg {
  color:black;
  height:50px;
  transition-duration: 0.3s;;
}
#menu-toggle, #icon{
  display:none;
}
#icon:hover svg{
  color:#FE5D9F
}
@media screen and (max-width: 800px) {
  .nav-bar-links{
    flex-direction: column;
    width:100%;
    background-color: white;
    display:none;
  }
  .nav-bar-links li{
    padding-top:10px;
    align-self: center;   
  }
  .main-nav{
    align-items: flex-start;
    padding-right:0px;
    flex-direction: column;
  }
  #menu-toggle, #icon{
    display:block;
    margin-right:1rem;
    margin-top:10px;
    position:absolute;
    top:0;
    right:0;
  }
  #menu-toggle{
    display:none;
  }
  #menu-toggle:checked~.nav-bar-links{
    display:flex;
  }

}
/*
  Scrollbar learnt from :
  https://webdesign.tutsplus.com/tutorials/horizontal-scrolling-card-ui-flexbox-and-css-grid--cms-41922
  */
.product-listings-scrollable {
  padding-left: 10%;
  padding-right: 10%;
}

.product-listings {
  padding: 20px 0 20px 0;
  display: flex;
  flex-basis: auto;
  column-gap: 0rem;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  column-gap: 1rem;
  margin-bottom: 20px;

}

.product-listings-card {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  scroll-snap-align: left;
  max-width: 45%;
  margin: 0;
  border: 0.1rem solid rgb(206, 206, 206);
}

@media screen and (max-width: 800px) {
  .productList_container{
      margin-bottom: 0;
      margin-top: 0;
  }
  .products-card {
      margin-bottom: 3rem;
  }
}

.product-listings::-webkit-scrollbar {
  height: 12px;
}

.product-listings::-webkit-scrollbar-thumb,
.product-listings::-webkit-scrollbar-track {
  border-radius: 92px;
}

.product-listings::-webkit-scrollbar-thumb {
  background: #0c080a;
}

.product-listings::-webkit-scrollbar-track {
  background: rgb(236, 234, 236);
}

.product-listings-card .product-listings-card-link {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.product-listing-img {
  height: 20vw;
  object-fit: cover;
}

.product-listing-content {
  padding: 1rem;
}

.product-listings-card-link {
  padding: 1rem;
}

.product-listings-gallery {
  display: flex;
  flex-direction: column;
}

.product-listings-gallery-card {
  padding-top: 10vw;
  padding-left: 10%;
  padding-bottom: 2rem;
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1597823968481-20de5e1269c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  height: 45vw;
}

.parallax{
  padding-top: 10vw;
  padding-left: 10%;
  padding-bottom: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1618586810102-aaa7049200c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height:1000px;
}

.product-listings-gallery-card-second {
  padding-top: 10vw;
  padding-left: 10%;
  padding-bottom: 2rem;
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1618586810102-aaa7049200c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: cover;
  height: 20vw;
}

.product-listings-gallery-card-third {
  padding-top: 10vw;
  padding-left: 10%;
  padding-bottom: 2rem;
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url(https://i.imgur.com/i2MsQE1.png);
  background-position: center;
  background-size: cover;
  height: 20vw;
}

@media screen and (max-width:700px) {
  .product-listings-gallery-card {
    display: flex;
    padding-right: 10%;
    
  }

  .product-listings-gallery-card-second {
    display: flex;
    padding-right: 10%;
    padding-bottom:5rem;
  }
}

.company-event{
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 10%;
  padding-right:10%;
}
.company-event .product-listings-card-link{
  padding-left: 0;
}
.company-event-card{
  border-top: 0.2rem rgb(236, 234, 236) solid;
}
/*
  Shipping and payment information -----------
  */
.shipping-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shipping-address {
  width: 50%;
  flex-grow: 1;
}

.shipping-recipient {
  width: 50%;
  flex-grow: 1;
}

.payment-page{
  padding-top:5%;
  padding-bottom:10%;
  padding-left:20%;
  padding-right:20%;
}

@media screen and (max-width:900px) {
  .shipping-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .shipping-address {
    width: 100%;
    flex-grow: 1;
  }

  .shipping-recipient {
    width: 100%;
    flex-grow: 1;
  }
  .payment-page{
    padding-top:5%;
    padding-bottom:10%;
    padding-left:10%;
    padding-right:10%;
  }
}

.payment-details {
  display: flex;
  flex-direction: column;
}

.payment-expiry {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}

legend {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 25px;
}

fieldset {
  padding-top: 20px;
  border-color: rgb(236, 234, 236, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
  cart details-------------------------
  */
.checkout-cart {
  display: flex;
  flex-direction: column;
  padding-top:100px;
  padding-left: 10%;
  padding-right: 10%;
}

.checkout-cart h4 {
  margin-top: 0px;
  margin-left: auto;
}

.checkout-cart a {
  margin: 0px;
  margin-left: 5%;
  font-size: 20px;
}

.checkout-cart h5 {
  margin: 0px;
  margin-left: 5%;
}

.checkout-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 0.15rem solid rgb(236, 234, 236);
}

.checkout-cart-items {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.checkout-item-img {
  text-align: center;
  width: 10rem;
}

.checkout-summary {
  margin-top: 5rem;
  margin-bottom: 0;
  margin-left: auto;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.checkout-summary a{
  text-decoration: none;
}
.checkout-summary a:hover{
  text-decoration: none;
}

.checkout-category{
  width: 30%;
}
.checkout-number{
  margin-left: 2rem;
}

@media screen and (max-width:1000px) {
  .checkout-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 0.15rem solid rgb(236, 234, 236);
    row-gap: 0.5rem;
  }

  .checkout-item a {
    padding-left: 0;
    margin-left: 0;
  }

  .checkout-cart h4 {
    margin-left: 0;
  }

  .checkout-cart h5 {
    margin-left: 0;
  }
}

/*
    Brand Components --------------------
  */
.colour-palettes {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colour-palette-white {
  padding: 1rem;
  width: 20%;
  background-color: #F6F6F6;
  flex-grow: 1;
  flex-basis: 20rem;
}

.colour-palette-black {
  padding: 1rem;
  width: 20%;
  color: white;
  background-color: #0c080a;
  flex-grow: 1;
  flex-basis: 20rem;
}

.colour-palette-turquoise {
  padding: 1rem;
  width: 20%;
  background-color: #6DD3CE;
  flex-grow: 1;
  flex-basis: 20rem;
}

.colour-palette-magenta {
  padding: 1rem;
  width: 20%;
  color: white;
  background-color: #FE5D9F;
  flex-grow: 1;
  flex-basis: 20rem;
}

.imagery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.imagery-citations {
  padding-right:10%;
}

.imagery a {
  flex-basis: 20rem;
  flex-grow: 1;
}

/*
  product detail page-----------
  */
.product-page-details {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.product-page-details input label {
  display: inline-block;
}

.product-page-details-selection {
  padding-left: 2rem;
}
.product-page-details-name{
  margin-top:10px;
  text-align: center;
  vertical-align: middle;
  padding-top:20%;
}
.product-page-details-img-selection-alice-v1q {
  background-image: url(https://images.unsplash.com/photo-1597823968481-20de5e1269c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  width: 50%;
  height:30vw;
}
.product-page-details-img-selection-lux-v1s {
  background-image: url(https://images.unsplash.com/photo-1640484862843-03c8c0c49d96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  width: 50%;
  height:30vw;
}

.product-page-details-img-alice-v1q {
  margin-left:10%;
  margin-right:10%;
  margin-top:2rem;
  padding-left: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(4, 4, 4, 0.2)), url(https://images.unsplash.com/photo-1597823968481-20de5e1269c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  height:40vw;
}
.product-page-details-img-lux-v1s {
  margin-left:10%;
  margin-right:10%;
  margin-top:2rem;
  padding-left: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(4, 4, 4, 0.2)), url(https://images.unsplash.com/photo-1640484862843-03c8c0c49d96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  height:40vw;
}

@media screen and (max-width:1200px) {
  .product-page-details {
    flex-direction: column;
  }
  .product-page-details-img-selection {
    width: 100%;
    height: 40vw;
  }
  .product-page-details-selection {
    padding-left: 0rem;
  }
}
.customer-review{
  padding-right:80%;
  margin-bottom:5rem;
}
.product-page-review{
  padding-left:10%;
  padding-right:10%;
}
.review-input-box{
  line-height: 28px;
  padding:5pt;
  width:70vw;
}
@media screen and (max-width:700px){
  .review-input-box{
    line-height: 28px;
    padding:5pt;
  }
  .customer-review{
    padding-right:10%;
  }
}

.productList_container{
    margin-top: 5rem;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}
.productList_container div{
    margin-right: 1rem;
}

.products-card {
    flex: 1;
    min-width: 200px;
    padding: 1rem;
    color: #000000;
    text-decoration-line: none;
    font-family:"Century Gothic", Arial, "Arial Black", "Arial Narrow", "sans-serif";
}
@media (max-width: 1200px) {
    .productList_container{
        flex-wrap: wrap;
    }
}

.products-card-img{
    width: 100%;
}

.bodyBlock{
  margin-bottom:5rem;
}

.productList_container .product-listings-card-link{
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.productList_container .product-listing-content{
    padding-top: 0rem;
    padding-bottom: 0rem;
}

footer{
    padding-top:5rem;
    padding-bottom:5rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #000000;
    color: white;
    display:block;
}
.footer-nav{
    display: inline-flex;
}
.footer-text{
    flex:1;
}
.footer-link-container{
    border-left:1px solid rgb(109, 109, 109);
    flex:1;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

*s{
  border:solid red 1px;
}
@media screen and (max-width: 1300px) {
    .footer-nav{
      display:inline-block;
    }
    .footer-link-container{
      flex-direction:row;
      padding-left:0;
      border:none;
      column-gap: 1rem;
    }
}
@media screen and (max-width: 900px) {
  .footer-text p{
    width:100%;
  }
}
@media screen and (max-width: 800px) {
  .footer-link-container{
    display:block;
  }
}
.style-guide{
  padding-left: 10%;
  padding-right: 10%;
}